body {
    background-color: rgba(155,155,155, 0.2);
    margin: auto;
}
.header {
    background-color: white;
}
h1 {
    margin: 0;
    text-align: center;
    padding: 10px;
}
div.container {
    width: 600px;
    margin: auto;
}
div.post {
    background-color: white;
    margin-top: 30px;

}
h2 {
    padding: 5px;
    float: left;
}
img {
    width: 600px;
}

.fecha {
    float: right;
    padding: 5px;
}

p {
    padding: 10px;
}
