
.header{
    background-color: white;
    height: 40px;
    padding-bottom: 10px;
}

.littleheader{
    margin:auto;
    width: 600px;
}
.generalcontainer{
    background-color: #eaeaea;
}
.post {
    background-color: white;
    width: 600px;
    min-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 5px;

}
.postheader{
    display: flex;
}

.box-one{
    flex-grow: 1;
    width: 90%;
    margin-left: 5px;
}
.box-two{
    flex-grow: 1;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-right: 5px;
    color:grey;
}
img{
    width: 600px;
}

.text{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}